@import "extensions/_reset.scss";

@import "utils/_utils.scss";

@import "global/_fonts.scss";
@import "global/_global.scss";
@import "global/_typography.scss";
@import "global/_grid.scss";

@import "sections/_catalog.scss";

@import "components/_button.scss";
@import "components/_card-product.scss";

@import "layouts/_layouts.scss";