html {
  color: #212121;
  background-color: #ffffff;
}

picture {
  display: block;

  img {
    width: 100%;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 1em;
  height: 1em;
}

.picture-ratio {
  --ratio: 100%;

  position: relative;

  &::before {
    display: block;
    width: 100%;
    padding-bottom: var(--ratio);
    content: "";
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.no-scroll {
  overflow: hidden;
}
