.button {
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-width: auto;
  padding: 14px 31px;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 100%;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #3e9cdc;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  outline-width: 2px;
  outline-style: solid;
  outline-color: transparent;
  outline-offset: 2px;
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
  transition-property: color, background-color, border, box-shadow;
  appearance: none;

  @media (max-width: 767px) {
    gap: 6px;

    padding: 11px 24px;
    font-size: 12px;
  }

  &:hover,
  &:active {
    border-color: #3e9cdc;
    background-color: #ffffff;
    color: #2a2b30;
  }

  &--secondary {
    border-color: #6f6d7b;
    color: #2a2b30;
    background-color: #ffffff;

    &:hover,
    &:active {
      background-color: #3e9cdc;
      border-color: #3e9cdc;
      color: #ffffff;
    }
  }

  &--sm {
    max-width: 183px;
    width: 100%;
  }

  &--lg {
    max-width: 370px;
    width: 100%;
  }

  &--full {
    width: 100%;

    &-sm {
      @media (max-width: 767px) {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  &--shuffle {
    display: block;
    margin: 24px auto 0;
  }
}
