.card-product {
  display: block;

  @media (max-width: 767px) {
    max-width: 326px;
    min-width: 326px;
    width: 100%;

    box-shadow: 0px 8px 16px 0px #00000014;

    border-radius: 16px;
    overflow: hidden;
  }

  &--medium {
    .card-product {
      &__poster {
        padding: 12px 0;

        @media (max-width: 1023px) {
          min-height: 213px;
        }

        img {
          --width: 114px;
        }
      }

      &__info {
        --gap: 4px;
      }

      &__name {
        --size: 20px;
        --lh: 26px;

        @media (max-width: 1023px) {
          --size: 18px;
          --lh: 24px;
        }

        @media (max-width: 767px) {
          --size: 16px;
        }
      }

      &__author {
        --size: 16px;

        @media (max-width: 767px) {
          --size: 14px;
          --lh: 20px;
          font-weight: 400;
        }
      }

      &__descr {
        --size: 16px;

        @media (max-width: 767px) {
          --size: 14px;
        }
      }
    }
  }

  &--small {
    &:not(:last-child) {
      margin-bottom: 40px;

      @media (max-width: 1023px) {
        margin-bottom: 20px;
      }

      @media (max-width: 767px) {
        margin-bottom: 0;
        margin-right: 16px;
      }
    }

    .card-product {
      @media (max-width: 767px) {
        max-width: 220px;
        min-width: 220px;
        width: 100%;
      }

      &__inner {
        flex-direction: row;

        @media (max-width: 767px) {
          flex-direction: column;
        }
      }

      &__head {
        aspect-ratio: inherit;
      }

      &__poster {
        padding: 0;

        &--cover {
          @media (min-width: 768px) {
            background-image: none;
          }
        }

        img {
          --width: 112px;
          min-width: 112px;

          box-shadow: none;
        }
      }

      &__info {
        --gap: 4px;
      }

      &__name {
        --size: 20px;
        --lh: 26px;

        @media (max-width: 1023px) {
          --size: 18px;
          --lh: 24px;
        }

        @media (max-width: 767px) {
          --size: 16px;
        }
      }

      &__author {
        --size: 16px;

        @media (max-width: 767px) {
          --size: 14px;
          --lh: 20px;
          font-weight: 400;
        }
      }

      &__descr {
        --size: 16px;

        @media (max-width: 767px) {
          --size: 14px;
        }
      }
    }
  }

  &__inner {
    --gap: 24px;

    display: flex;
    flex-direction: column;
    gap: var(--gap);

    @media (max-width: 1023px) {
      --gap: 16px;
    }
  }

  &__head {
    aspect-ratio: 16 / 10.793;

    @media (max-width: 767px) {
      aspect-ratio: unset;
      height: 220px;
    }
  }

  &__body {
    @media (max-width: 767px) {
      padding-bottom: 16px;
    }
  }

  &__poster {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-color: #fff;
    padding: 24px 0;

    &--cover {
      background-image: url(../img/card-product/bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    img {
      --width: 178px;

      max-width: var(--width);
      width: 100%;
      height: auto;

      box-shadow:
        -11px 0px 5px -3px rgba(0, 0, 0, 0.1),
        -13px 0px 9px -3px rgba(0, 0, 0, 0.04),
        -20px 0px 25px -3px rgba(0, 0, 0, 0.15),
        -3px 0px 10px 0px rgba(0, 0, 0, 0.2),
        1px 1px 0px 0px rgba(0, 0, 0, 0.05) inset,
        -1px -1px 0px 0px rgba(0, 0, 0, 0.1) inset;

      @media (max-width: 767px) {
        max-width: inherit;
        max-height: 166px;
        width: auto;
      }
    }
  }

  &__info {
    --gap: 8px;

    display: flex;
    flex-direction: column;
    gap: var(--gap);

    font-weight: 700;

    @media (max-width: 767px) {
      --gap: 4px;

      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__name {
    --size: 24px;
    --lh: 32px;

    font-size: var(--size);
    line-height: var(--lh);
    color: #000000;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @media (max-width: 767px) {
      --size: 16px;
      --lh: 24px;

      height: 48px;
    }
  }

  &__author {
    --size: 18px;
    --lh: 24px;

    font-size: var(--size);
    line-height: var(--lh);
    color: #696f89;

    @media (max-width: 767px) {
      --size: 14px;
      --lh: 20px;
      font-weight: 400;
    }
  }

  &__descr {
    --size: 18px;
    --lh: 24px;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @media (max-width: 767px) {
      --size: 14px;
      --lh: 20px;

      padding-top: 4px;

      -webkit-line-clamp: 4;
    }

    p {
      font-size: var(--size);
      line-height: var(--lh);
      color: #212121;
    }
  }
}
