* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex-grow: 1;
}

.container {
  --padding: 58px;

  padding-left: var(--padding);
  padding-right: var(--padding);

  width: calc(1140px + var(--padding) + var(--padding));
  max-width: 100%;
  min-width: 320px;
  margin: 0 auto;

  @media(max-width: 1279px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media(max-width: 767px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}